.underline-animation {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.underline-animation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 101%;
  height: 1px;
  background-color: white;
  transform: translateX(-101%);
  transition: transform 0.2s ease-in-out;
}

.underline-animation:hover::after {
  transform: translateX(0%);
}
.underline-animation-fuschia {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.underline-animation-fuschia::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 101%;
  height: 1px;
  background-color: #701a75;
  transform: translateX(-101%);
  transition: transform 0.2s ease-in-out;
}

.underline-animation-fuschia:hover::after {
  transform: translateX(0%);
}
